<form class="form-signin" method="post">
	<h2 class="form-signin-heading text-center">Sign In</h2>
	<br>
	<input type="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
	<br>
	<input type="password" name="password" class="form-control" placeholder="Password" required="" >
	<br>
	<button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
	<br>
</form>