<div>
	<div class="row">
		<div class="col-md-8">
			<h4>Code Editor ✏️</h4>
			<hr>
			<textarea id="code-screen">{{content}}</textarea>
		</div>
		<div class="col-md-4" id="chatbox">
			<h4>Chatbox 💬</h4>
			<hr>
<!-- 			<div class="panel panel-primary">
				<div class="panel-heading">
					CHAT ROOM
					<span class="pull-right" id="chatbox-username">
						{{#if user}}
							{{user.name}}
						{{/if}}
					</span>
				</div>
				<div class="panel-body">
					<ul class="media-list" style="height: 300px; overflow-y: scroll" id="chatbox-listMessages">
						
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter message" id="userMessage">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" onclick="sendMessage()">Send Message</button>
						</span>
					</div>
				</div>
			</div> -->
			<div class="card">
				<div class="card-header">
					CHAT ROOM
					<span class="float-right" id="chatbox-username">
						{{#if user}}
							{{user.name}}
						{{/if}}
					</span>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush" style="height: 300px; overflow-y: scroll" id="chatbox-listMessages">
						
					</ul>
				</div>
				<div class="card-footer">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter message" id="userMessage">
						<span class="input-group-btn"> 
							<button type="button" class="btn btn-primary" onclick="sendMessage()">Send Message</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" value="{{roomId}}" id="roomId" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/mode/javascript/javascript.min.js"></script>

<script src="/plugins/ot/ot.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var EditorClient = ot.EditorClient;
	var SocketIOAdapter = ot.SocketIOAdapter;
	var CodeMirrorAdapter = ot.CodeMirrorAdapter;
	var socket = io.connect('http://localhost:3000');
	var editor = CodeMirror.fromTextArea(document.getElementById("code-screen"), {
		lineNumbers: true,
		theme: "monokai"
	});
	var code = $('#code-screen').val();
	var cmClient;
	function init(str, revision, clients, serverAdapter) {
		if(!code) {
			editor.setValue(str);
		}
		cmClient = window.cmClient = new EditorClient(
			revision, clients, serverAdapter, new CodeMirrorAdapter(editor)
		);
	}
	socket.on('doc', function(obj) {
		init(obj.str, obj.revision, obj.cllients, new SocketIOAdapter(socket));
	});
	// editor.setSize(800, 500);

	var username = $("#chatbox-username").val();
	if(username === "") {
		var userId = Math.floor(Math.random() * 9999).toString();
		username = "User" + userId;
		$("#chatbox-username").text(username);
	}

	var roomId = $('#roomId').val();
	socket.emit('joinRoom', {room: roomId, username: username});

	var userMessage = function(name, text) {	return('<li class="list-group-item"> <div class= "list-group"> <div>' + 
		'<div/>' + 
		'<b>' + name + '</b> : ' + text + 
		'</div></div></div></li>'
		);
	}

	var sendMessage = function() {
		var userMessage = $('#userMessage').val();socket.emit('chatMessage', {message: userMessage, username: username});
		$('#userMessage').val("");
	}
	socket.on('chatMessage', function(data) {
		$('#chatbox-listMessages').append(userMessage(data.username, data.message));
	});

</script>