/*
body {
  padding: 50px;
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  margin: 10px;
}

a {
  color: #00B7FF;
}*/
body {
	min-height: 2000px;
	padding-top: 70px;
	font: 14px "Raleway", Helvetica, Arial, sans-serif;
	margin: 10px;
}
.contact-custom {
	padding: 20px;
	margin: 20px;
}